<section id="form-section" class="my-5">
    <div class="container">


        <h2>Form Inputs</h2>

        <div class="card p-2 my-1">
            <div class="card-body">
                <h3 class="p-1">How to Use Form Inputs</h3>
                <p class="p-1">
                    Our input system provides multiple types of form controls: text fields, password, select, radio
                    buttons,
                    checkboxes, switches, and more. You can customize their appearance, size, and layout using utility
                    classes.
                </p>

                <h4 class="p-1">Input Types</h4>
                <ul class="list-style-none p-1 ms-2">
                    <li><code class="text-primary">type="text"</code>: Single-line text input</li>
                    <li><code class="text-primary">type="password"</code>: Obscured input for passwords</li>
                    <li><code class="text-primary">type="email"</code>: Email input with validation</li>
                    <li><code class="text-primary">type="tel"</code>: Telephone input</li>
                    <li><code class="text-primary">type="file"</code>: File upload field</li>
                    <li><code class="text-primary">type="url"</code>: URL input</li>
                    <li><code class="text-primary">type="number"</code>: Number input with min/max</li>
                    <li><code class="text-primary">type="date"</code>, <code>time</code>, <code>month</code>,
                        <code>week</code>, <code>datetime-local</code>: Date/time pickers
                    </li>
                    <li><code class="text-primary">type="range"</code>: Slider input</li>
                    <li><code class="text-primary">type="color"</code>: Color picker</li>
                    <li><code class="text-primary">textarea</code>: Multiline text input</li>
                    <li><code class="text-primary">select</code>: Dropdown selection menu</li>
                    <li><code class="text-primary">input type="radio"</code>: Radio button</li>
                    <li><code class="text-primary">input type="checkbox"</code>: Checkbox input</li>
                    <li><code class="text-primary">.switch</code>: Custom toggle switch (with optional
                        <code>.round</code>)
                    </li>
                </ul>

                <h4 class="p-1">Sizes</h4>
                <ul class="list-style-none p-1 ms-2">
                    <li><code class="text-primary">.input-sm</code>: Small input size</li>
                    <li><code class="text-primary">.input-md</code>: Default / medium size</li>
                    <li><code class="text-primary">.input-lg</code>: Large input size</li>
                    <li><code class="text-primary">.switch-sm</code>: Small toggle switch</li>
                    <li><code class="text-primary">.switch-md</code>: Medium toggle switch</li>
                    <li><code class="text-primary">.switch-lg</code>: Large toggle switch</li>
                </ul>

                <h4 class="p-1">Layout</h4>
                <ul class="list-style-none p-1 ms-2">
                    <li><code class="text-primary">.form-inline</code>: Aligns label and input side by side</li>
                    <li><code class="text-primary">.form-column</code>: Stacks label and input vertically</li>
                    <li><code class="text-primary">.vertical-center</code>: Vertically centers elements within a row
                    </li>
                </ul>
            </div>
        </div>


        <div class="d-flex align-items-center">
            <h3 class="py-1">Input types</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-form-input">
            </div>
        </div>

        <!--
        Form input
        -->

        <div data-code-target="#code-form-input">
            <form action="/submit" method="post">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">

                        <!-- Input text -->
                        <div class="form-column">
                            <label for="text">Text</label>
                            <input class="" type="text" id="text" name="text" placeholder="Entrez du texte">
                        </div>

                        <!-- Input password -->
                        <div class="form-column">
                            <label for="password">Password</label>
                            <input class="" type="password" id="password" name="password">
                        </div>

                        <!-- Input email -->
                        <div class="form-column">
                            <label for="email">Email</label>
                            <input class="" type="email" id="email" name="email">
                        </div>

                        <!-- Input tel -->
                        <div class="form-column">
                            <label for="tel">Tel</label>
                            <input class="" type="tel" id="tel" name="tel">
                        </div>

                        <!-- Textarea -->
                        <div class="form-column">
                            <label for="textarea">Message</label>
                            <textarea class="" id="textarea" name="textarea" rows="4" cols="1"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">

                        <!-- Input file -->
                        <div class="form-column">
                            <label for="file">File</label>
                            <input class="" type="file" id="file" name="file">
                        </div>

                        <!-- Input url -->
                        <div class="form-column">
                            <label for="url">Url</label>
                            <input class="" type="url" id="url" name="url">
                        </div>

                        <!-- Input number -->
                        <div class="form-column">
                            <label for="number">Number</label>
                            <input class="" type="number" id="number" name="number" min="0" max="100">
                        </div>

                        <!-- Input date -->
                        <div class="form-column">
                            <label for="date">Date</label>
                            <input class="" type="date" id="date" name="date">
                        </div>

                        <!-- Select -->
                        <div class="form-column">
                            <label for="select">Choose an option</label>
                            <select class="" id="select" name="select">
                                <option value="">--Choisir--</option>
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">

                        <!-- Input time -->
                        <div class="form-column">
                            <label for="time">Time</label>
                            <input class="" type="time" id="time" name="time">
                        </div>

                        <!-- Input datetime -->
                        <div class="form-column">
                            <label for="datetime">Datetime</label>
                            <input class="" type="datetime-local" id="datetime" name="datetime">
                        </div>

                        <!-- Input month -->
                        <div class="form-column">
                            <label for="month">Month</label>
                            <input class="" type="month" id="month" name="month">
                        </div>

                        <!-- Input week -->
                        <div class="form-column">
                            <label for="week">Week</label>
                            <input class="" type="week" id="week" name="week">
                        </div>

                        <!-- Range -->
                        <div class="form-column">
                            <label for="range">Range</label>
                            <input class=" input-sm" type="range" id="range" name="range" min="0" max="100">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">

                        <!-- Color -->
                        <div class="form-column">
                            <label for="color">Color</label>
                            <input type="color" id="color" name="color">
                        </div>

                        <!-- Form radio -->
                        <div class="form-column">
                            <label for="radio">Radio</label>
                            <input type="radio" id="radio" name="choice" value="yes">
                        </div>

                        <!-- Form checkbox -->
                        <div class="form-column">
                            <label for="checkbox">Checkbox</label>
                            <input type="checkbox" id="checkbox" name="checkbox" value="1">
                        </div>

                        <!-- Form switch -->
                        <div class="form-column">
                            <span class="switch-label" data-label="switch">Switch</span>
                            <div class="wrapper-switch medium">
                                <label class="switch">
                                    <input id="switch" name="switch" type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>

                        <!-- Form switch round -->
                        <div class="form-column">
                            <span class="switch-label" data-label="switch-round">Switch round</span>
                            <div class="wrapper-switch medium">
                                <label class="switch">
                                    <input id="switch-round" name="switch" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="container-code mt-2 d-none" id="container-code-form-input">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-form-input" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-form-input" data-type="code">
        </code></pre>
        </div>


        <!--
        Form input size
        -->


        <div class="d-flex align-items-center mt-2">
            <h3 class="py-1">Input size</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-form-input-size">
            </div>
        </div>


        <div data-code-target="#code-form-input-size">
            <form action="/submit" method="post">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">

                        <!-- Input text extra-small -->
                        <div class="form-column">
                            <label for="text-extra-small">Text small</label>
                            <input class=" extra-small" type="text" id="text-extra-small" name="text"
                                   placeholder="Entrez du texte">
                        </div>

                        <!-- Input text small -->
                        <div class="form-column">
                            <label for="text-small">Text small</label>
                            <input class=" small" type="text" id="text-small" name="text"
                                   placeholder="Entrez du texte">
                        </div>

                        <!-- Default input text medium -->
                        <div class="form-column">
                            <label for="text-medium">Text medium</label>
                            <input class=" medium" type="text" id="text-medium" name="text"
                                   placeholder="Entrez du texte">
                        </div>

                        <!-- Input text large -->
                        <div class="form-column">
                            <label for="text-large">Text large</label>
                            <input class=" large" type="text" id="text-large" name="text"
                                   placeholder="Entrez du texte">
                        </div>

                        <!-- Input text extra-large -->
                        <div class="form-column">
                            <label for="text-extra-large">Text large</label>
                            <input class=" extra-large" type="text" id="text-extra-large" name="text"
                                   placeholder="Entrez du texte">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">

                        <!-- Input color extra-small -->
                        <label for="color-extra-small">Color small</label>
                        <input class="extra-small" type="color" id="color-extra-small" name="color">

                        <!-- Input color small -->
                        <label for="color-small">Color small</label>
                        <input class="small" type="color" id="color-small" name="color">


                        <!-- Default input color medium -->
                        <label for="color-medium">Color medium</label>
                        <input class="medium" type="color" id="color-medium" name="color">


                        <!-- Input color large -->
                        <label for="color-large">Color large</label>
                        <input class="large" type="color" id="color-large" name="color">

                        <!-- Input color extra-large -->
                        <label for="color-extra-large">Color large</label>
                        <input class="extra-large" type="color" id="color-extra-large" name="color">

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">

                        <!-- Form radio extra-small -->
                        <label for="radio-extra-small">Radio</label>
                        <input class="extra-small" type="radio" id="radio-extra-small" name="choice" value="yes">

                        <!-- Form radio small -->
                        <label for="radio-small">Radio</label>
                        <input class="small" type="radio" id="radio-small" name="choice" value="yes">

                        <!-- Form radio medium -->
                        <label for="radio-medium">Radio</label>
                        <input class="medium" type="radio" id="radio-medium" name="choice" value="yes">

                        <!-- Form radio large -->
                        <label for="radio-large">Radio</label>
                        <input class="large" type="radio" id="radio-large" name="choice" value="yes">

                        <!-- Form radio extra-large -->
                        <label for="radio-extra-large">Radio</label>
                        <input class="extra-large" type="radio" id="radio-extra-large" name="choice" value="yes">


                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">

                        <!-- Form checkbox extra-small -->
                        <label for="checkbox-extra-small">Checkbox</label>
                        <input class="extra-small" type="checkbox" id="checkbox-extra-small" name="checkbox"
                               value="1">

                        <!-- Form checkbox small -->
                        <label for="checkbox-small">Checkbox</label>
                        <input class="small" type="checkbox" id="checkbox-small" name="checkbox" value="1">

                        <!-- Form checkbox medium -->
                        <label for="checkbox-medium">Checkbox</label>
                        <input class="medium" type="checkbox" id="checkbox-medium" name="checkbox" value="1">

                        <!-- Form checkbox large -->
                        <label for="checkbox-large">Checkbox</label>
                        <input class="large" type="checkbox" id="checkbox-large" name="checkbox" value="1">

                        <!-- Form checkbox extra-large -->
                        <label for="checkbox-extra-large">Checkbox</label>
                        <input class="extra-large" type="checkbox" id="checkbox-extra-large" name="checkbox"
                               value="1">

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">

                        <!-- Form switch extra-small -->
                        <span class="switch-label" data-label="switch-round-extra-small">Switch round extra-small</span>
                        <div class="wrapper-switch extra-small">
                            <label class="switch">
                                <input id="switch-round-extra-small" name="switch" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>


                        <!-- Form switch small -->
                        <span class="switch-label" data-label="switch-round-small">Switch round small</span>
                        <div class="wrapper-switch small">
                            <label class="switch">
                                <input id="switch-round-small" name="switch" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>


                        <!-- Form default switch medium -->
                        <span class="switch-label" data-label="switch-round-medium">Switch round medium</span>
                        <div class="wrapper-switch medium">
                            <label class="switch">
                                <input id="switch-round-medium" name="switch" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>


                        <!-- Form switch large -->
                        <span class="switch-label" data-label="switch-round-large">Switch round large</span>
                        <div class="wrapper-switch large">
                            <label class="switch">
                                <input id="switch-round-large" name="switch" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <!-- Form switch large -->
                        <span class="switch-label" data-label="switch-round-extra-large">Switch round extra-large</span>
                        <div class="wrapper-switch extra-large">
                            <label class="switch">
                                <input id="switch-round-extra-large" name="switch" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </form>
        </div>


        <div class="container-code mt-2 d-none" id="container-code-form-input-size">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-form-input-size" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-form-input-size" data-type="code">
        </code></pre>
        </div>


        <!--
        Form input size
        -->


        <div class="d-flex align-items-center mt-2">
            <h3 class="py-1">Input display</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display"
                 data-target="#container-code-form-input-display">
            </div>
        </div>


        <div data-code-target="#code-form-input-display">
            <form action="/submit" method="post">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="vertical-center">
                            <!-- Input text inline -->
                            <div class="form-inline">
                                <label for="text-inline">Text inline</label>
                                <input class="" type="text" id="text-inline" name="text"
                                       placeholder="Entrez du texte">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                        <div class="vertical-center">
                            <!-- Input color inline -->
                            <div class="form-inline">
                                <label for="color-inline">Color inline</label>
                                <input type="color" id="color-inline" name="color">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                        <div class="vertical-center">

                            <!-- Form radio inline -->
                            <div class="form-inline">
                                <label for="radio-inline">Radio inline</label>
                                <input type="radio" id="radio-inline" name="choice" value="yes">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                        <div class="vertical-center">

                            <!-- Form checkbox inline -->
                            <div class="form-inline">
                                <label for="checkbox-inline">Checkbox inline</label>
                                <input type="checkbox" id="checkbox-inline" name="checkbox" value="1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                        <div class="vertical-center">

                            <!-- Form switch inline -->
                            <div class="form-inline">
                                <span class="switch-label" data-label="switch-round-inline">Switch round large</span>
                                <div class="switch-lg">
                                    <label class="switch">
                                        <input id="switch-round-inline" name="switch" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="container-code mt-2 d-none" id="container-code-form-input-display">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-form-input-display" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-form-input-display" data-type="code">
        </code></pre>
        </div>


    </div>
</section>