<style>
    [data-code-target="#code-font-weight"] {
        font-size: 1.5rem;
    }
</style>
<section id="font-weight-section" class="my-5">

    <div class="container">

        <div class="d-flex align-items-center">
            <h2>Font weight</h2>
            <div class="ms-2 cursor-pointer" data-action="toggle-display"
                 data-target="#container-code-font-weight"></div>
        </div>

        <div class="card p-2 my-1">
            <div class="card-body">
                <h3 class="p-1">How To Use Font Weight</h3>
                <p class="p-1">
                    Our font weight utilities provide a convenient way to apply consistent typographic emphasis across
                    your interface. Each utility class maps directly to a customizable CSS variable, allowing easy
                    global adjustments to font thickness.
                </p>

                <ul class="list-style-none p-1 ms-2">
                    <li><code class="text-primary">.fw-100</code>: Uses <code class="text-primary">var(--font-weight-100)</code></li>
                    <li><code class="text-primary">.fw-200</code>: Uses <code class="text-primary">var(--font-weight-200)</code></li>
                    <li><code class="text-primary">.fw-300</code>: Uses <code class="text-primary">var(--font-weight-300)</code></li>
                    <li><code class="text-primary">.fw-400</code>: Uses <code class="text-primary">var(--font-weight-400)</code></li>
                    <li><code class="text-primary">.fw-500</code>: Uses <code class="text-primary">var(--font-weight-500)</code></li>
                    <li><code class="text-primary">.fw-600</code>: Uses <code class="text-primary">var(--font-weight-600)</code></li>
                    <li><code class="text-primary">.fw-700</code>: Uses <code class="text-primary">var(--font-weight-700)</code></li>
                    <li><code class="text-primary">.fw-800</code>: Uses <code class="text-primary">var(--font-weight-800)</code></li>
                    <li><code class="text-primary">.fw-900</code>: Uses <code class="text-primary">var(--font-weight-900)</code></li>
                </ul>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-font-weight">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-font-weight" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-font-weight" data-type="code">
            </code></pre>
        </div>

        <div data-code-target="#code-font-weight">
            <!-- Font weight -->
            <p class="fw-100">.fw-100 Font weight</p>
            <p class="fw-200">.fw-200 Font weight</p>
            <p class="fw-300">.fw-300 Font weight</p>
            <p class="fw-400">.fw-400 Font weight</p>
            <p class="fw-500">.fw-500 Font weight</p>
            <p class="fw-600">.fw-600 Font weight</p>
            <p class="fw-700">.fw-700 Font weight</p>
            <p class="fw-800">.fw-800 Font weight</p>
            <p class="fw-900">.fw-900 Font weight</p>
        </div>
    </div>
</section>