// Font weights
.fw-100 {
  font-weight: var(--font-weight-100);
}

.fw-200 {
  font-weight: var(--font-weight-200);
}

.fw-300 {
  font-weight: var(--font-weight-300);
}

.fw-400 {
  font-weight: var(--font-weight-400);
}

.fw-500 {
  font-weight: var(--font-weight-500);
}

.fw-600 {
  font-weight: var(--font-weight-600);
}

.fw-700 {
  font-weight: var(--font-weight-700);
}

.fw-800 {
  font-weight: var(--font-weight-800);
}

.fw-900 {
  font-weight: var(--font-weight-900);
}

/* Font sizes */
.fs-1 {
  font-size: var(--font-size-h1);
}

.fs-2 {
  font-size: var(--font-size-h2);
}

.fs-3 {
  font-size: var(--font-size-h3);
}

.fs-4 {
  font-size: var(--font-size-h4);
}

.fs-5 {
  font-size: var(--font-size-h5);
}

.fs-6 {
  font-size: var(--font-size-h6);
}

.fs-xs {
  font-size: var(--font-size-xs);
}

.fs-sm {
  font-size: var(--font-size-sm);
}

.fs-md {
  font-size: var(--font-size-md);
}

.fs-lg {
  font-size: var(--font-size-lg);
}

.fs-xl {
  font-size: var(--font-size-xl);
}

.fs-xxl {
  font-size: var(--font-size-xxl);
}