$shade-of-gray: (0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000);
@each $shade in $shade-of-gray {
  .bg-gray-#{$shade} {
    background-color: var(--gray-#{$shade});
  }
  .border-color-gray-#{$shade} {
    border-color: var(--gray-#{$shade});
  }
  .border-gray-#{$shade} {
    border: 1px solid var(--gray-#{$shade});
  }
  .text-gray-#{$shade} {
    color: var(--gray-#{$shade});
  }
}

// Background
.bg {
  &-primary {
    background-color: var(--primary-color);
    &-force {
      background-color: var(--primary-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-primary);

     &-child *{
        color: var(--text-on-primary);
      }
    }
  }

  &-secondary {
    background-color: var(--secondary-color);

    &-force {
      background-color: var(--secondary-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-secondary);

      &-child * {
        color: var(--text-on-secondary);
      }
    }
  }

  &-tertiary {
    background-color: var(--tertiary-color);

    &-force {
      background-color: var(--tertiary-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-tertiary);

      &-child * {
        color: var(--text-on-tertiary);
      }
    }
  }

  &-success {
    background-color: var(--success-color);

    &-force {
      background-color: var(--success-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-success);

      &-child * {
        color: var(--text-on-success);
      }
    }
  }

  &-danger {
    background-color: var(--danger-color);

    &-force {
      background-color: var(--danger-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-danger);

      &-child * {
        color: var(--text-on-danger);
      }
    }
  }

  &-warning {
    background-color: var(--warning-color);

    &-force {
      background-color: var(--warning-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-warning);

      &-child * {
        color: var(--text-on-warning);
      }
    }
  }

  &-info {
    background-color: var(--info-color);

    &-force {
      background-color: var(--info-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-info);

      &-child * {
        color: var(--text-on-info);
      }
    }
  }

  &-neutral {
    background-color: var(--neutral-color);

    &-force {
      background-color: var(--neutral-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-neutral);

      &-child * {
        color: var(--text-on-neutral);
      }
    }
  }

  &-light {
    background-color: var(--light-color);

    &-force {
      background-color: var(--light-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-light);

      &-child * {
        color: var(--text-on-light);
      }
    }
  }

  &-dark {
    background-color: var(--dark-color);

    &-force {
      background-color: var(--dark-color) !important;
    }

    &.text-contrast {
      color: var(--text-on-dark);

      &-child * {
        color: var(--text-on-dark);
      }
    }
  }

  &-white {
    background-color: var(--gray-0);

    &-force {
      background-color: var(--gray-0) !important;
    }

    &.text-contrast {
      color: var(--text-black);

      &-child * {
        color: var(--text-black);
      }
    }
  }

  &-black {
    background-color: var(--gray-900);

    &-force {
      background-color: var(--gray-900) !important;
    }

    &.text-contrast {
      color: var(--text-white);

      &-child * {
        color: var(--text-white);
      }
    }
  }

  &-footer-muted {
    background-color: var(--footer-muted);

    &-force {
      background-color: var(--footer-muted) !important;
    }

    &.text-contrast {
      color: var(--text-on-footer-muted);

      &-child * {
        color: var(--text-on-footer-muted);
      }
    }
  }

  &-theme {
    background-color: var(--bg-color);

    &-force {
      background-color: var(--bg-color) !important;
    }

    &.text-contrast {
      color: var(--text-color);

      &-child * {
        color: var(--text-color);
      }
    }
  }

  &-code-theme {
    background-color: var(--bg-color-code);

    &-force {
      background-color: var(--bg-color-code) !important;
    }
  }

  &-transparent {
    background-color: var(--transparent);

    &-force {
      background-color: var(--transparent) !important;
    }
  }

  &-transparent-white {
    background-color: var(--transparent-white);

    &-force {
      background-color: var(--transparent-white) !important;
    }
  }

  &-transparent-black {
    background-color: var(--transparent-black);

    &-force {
      background-color: var(--transparent-black) !important;
    }
  }

  &-transparent-theme {
    background-color: var(--transparent-theme);

    &-force {
      background-color: var(--transparent-theme) !important;
    }
  }
}

// Border color only
.border-color {
  &-primary {
    border-color: var(--primary-color);

    &-force {
      border-color: var(--primary-color) !important;
    }
  }

  &-secondary {
    border-color: var(--secondary-color);

    &-force {
      border-color: var(--secondary-color) !important;
    }
  }

  &-tertiary {
    border-color: var(--tertiary-color);

    &-force {
      border-color: var(--tertiary-color) !important;
    }
  }

  &-success {
    border-color: var(--success-color);

    &-force {
      border-color: var(--success-color) !important;
    }
  }

  &-danger {
    border-color: var(--danger-color);

    &-force {
      border-color: var(--danger-color) !important;
    }
  }

  &-warning {
    border-color: var(--warning-color);

    &-force {
      border-color: var(--warning-color) !important;
    }
  }

  &-info {
    border-color: var(--info-color);

    &-force {
      border-color: var(--info-color) !important;
    }
  }

  &-neutral {
    border-color: var(--neutral-color);

    &-force {
      border-color: var(--neutral-color) !important;
    }
  }

  &-light {
    border-color: var(--light-color);

    &-force {
      border-color: var(--light-color) !important;
    }
  }

  &-dark {
    border-color: var(--dark-color);

    &-force {
      border-color: var(--dark-color) !important;
    }
  }

  &-whisper {
    border-color: var(--border-color-whisper);

    &-force {
      border-color: var(--border-color-whisper) !important;
    }
  }
}

// Border 1px solid
.border {
  &-primary {
    border: 1px solid var(--primary-color);
  }

  &-secondary {
    border: 1px solid var(--secondary-color);
  }

  &-tertiary {
    border: 1px solid var(--tertiary-color);
  }

  &-success {
    border: 1px solid var(--success-color);
  }

  &-danger {
    border: 1px solid var(--danger-color);
  }

  &-warning {
    border: 1px solid var(--warning-color);
  }

  &-info {
    border: 1px solid var(--info-color);
  }

  &-neutral {
    border: 1px solid var(--neutral-color);
  }

  &-light {
    border: 1px solid var(--light-color);
  }

  &-dark {
    border: 1px solid var(--dark-color);
  }

  &-whisper {
    border: 1px solid var(--border-color-whisper);
  }
}

// Text color
.text {
  &-primary {
    color: var(--primary-color);
  }

  &-secondary {
    color: var(--secondary-color);
  }

  &-tertiary {
    color: var(--tertiary-color);
  }

  &-success {
    color: var(--success-color);
  }

  &-info {
    color: var(--info-color);
  }

  &-warning {
    color: var(--warning-color);
  }

  &-danger {
    color: var(--danger-color);
  }

  &-neutral {
    color: var(--neutral-color);
  }

  &-light {
    color: var(--light-color);
  }

  &-dark {
    color: var(--dark-color);
  }

  &-white {
    color: var(--text-white);
  }

  &-black {
    color: var(--text-black);
  }

  &-theme {
    color: var(--text-color);
  }
}

// Badges and buttons
.badge, .btn {
  &-primary {
    background-color: var(--primary-color);
    color: var(--text-on-primary);

    &.active {
      background-color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-dark));
    }
  }

  &-secondary {
    background-color: var(--secondary-color);
    color: var(--text-on-secondary);

    &.active {
      background-color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-dark));
    }
  }

  &-tertiary {
    background-color: var(--tertiary-color);
    color: var(--text-on-tertiary);

    &.active {
      background-color: color-mix(in srgb, var(--tertiary-color) 75%, var(--color-mix-dark));
    }
  }

  &-success {
    background-color: var(--success-color);
    color: var(--text-on-success);

    &.active {
      background-color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-dark));
    }
  }

  &-info {
    background-color: var(--info-color);
    color: var(--text-on-info);

    &.active {
      background-color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-dark));
    }
  }

  &-warning {
    background-color: var(--warning-color);
    color: var(--text-on-warning);

    &.active {
      background-color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-dark));
    }
  }

  &-danger {
    background-color: var(--danger-color);
    color: var(--text-on-danger);

    &.active {
      background-color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-dark));
    }
  }

  &-neutral {
    background-color: var(--neutral-color);
    color: var(--text-on-neutral);

    &.active {
      background-color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-dark));
    }
  }

  &-light {
    background-color: var(--light-color);
    color: var(--text-on-light);

    &.active {
      background-color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-dark));
    }
  }

  &-dark {
    background-color: var(--dark-color);
    color: var(--text-on-dark);

    &.active {
      background-color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-dark));
    }
  }
}

// Outline, badge-outline, and button-outline
.badge-outline,
.btn-outline,
.outline {
  &-primary {
    background-color: var(--transparent);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &.active {
      background-color: var(--primary-color);
      color: var(--text-black);
    }
  }

  &-secondary {
    background-color: var(--transparent);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);

    &.active {
      background-color: var(--secondary-color);
      color: var(--text-black);
    }
  }

  &-tertiary {
    background-color: var(--transparent);
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);

    &.active {
      background-color: var(--tertiary-color);
      color: var(--text-black);
    }
  }

  &-success {
    background-color: var(--transparent);
    border: 1px solid var(--success-color);
    color: var(--success-color);

    &.active {
      background-color: var(--success-color);
      color: var(--text-black);
    }
  }

  &-info {
    background-color: var(--transparent);
    border: 1px solid var(--info-color);
    color: var(--info-color);

    &.active {
      background-color: var(--info-color);
      color: var(--text-black);
    }
  }

  &-warning {
    background-color: var(--transparent);
    border: 1px solid var(--warning-color);
    color: var(--warning-color);

    &.active {
      background-color: var(--warning-color);
      color: var(--text-black);
    }
  }

  &-danger {
    background-color: var(--transparent);
    border: 1px solid var(--danger-color);
    color: var(--danger-color);

    &.active {
      background-color: var(--danger-color);
      color: var(--text-black);
    }
  }

  &-neutral {
    background-color: var(--transparent);
    border: 1px solid var(--neutral-color);
    color: var(--neutral-color);

    &.active {
      background-color: var(--neutral-color);
      color: var(--text-black);
    }
  }

  &-light {
    background-color: var(--transparent);
    border: 1px solid var(--light-color);
    color: var(--light-color);

    &.active {
      background-color: var(--light-color);
      color: var(--text-black);
    }
  }

  &-dark {
    background-color: var(--transparent);
    border: 1px solid var(--dark-color);
    color: var(--dark-color);

    &.active {
      background-color: var(--dark-color);
      color: var(--text-black);
    }
  }
}

// Hover button and link
a, button, .btn {
  // Badge btn
  &.badge, &.btn {
    &-primary:hover {
      background-color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-dark));
      color: var(--text-on-primary);
    }

    &-secondary:hover {
      background-color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-dark));
      color: var(--text-on-secondary);
    }

    &-tertiary:hover {
      background-color: color-mix(in srgb, var(--tertiary-color) 75%, var(--color-mix-dark));
      color: var(--text-on-tertiary);
    }

    &-success:hover {
      background-color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-dark));
      color: var(--text-on-success);
    }

    &-info:hover {
      background-color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-dark));
      color: var(--text-on-info);
    }

    &-warning:hover {
      background-color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-dark));
      color: var(--text-on-warning);
    }

    &-danger:hover {
      background-color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-dark));
      color: var(--text-on-danger);
    }

    &-neutral:hover {
      background-color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-dark));
      color: var(--text-on-neutral);
    }

    &-light:hover {
      background-color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-dark));
      color: var(--text-on-light);
    }

    &-dark:hover {
      background-color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-dark));
      color: var(--text-on-dark);
    }
    &-theme:hover {
      background-color: color-mix(in srgb, var(--bg-color) 75%, var(--color-mix-dark));
      color: var(--text-color);
    }
  }
  // Outline
  &.outline {
    &-primary:hover {
      background-color: var(--primary-color);
      color: var(--text-on-primary);
    }

    &-secondary:hover {
      background-color: var(--secondary-color);
      color: var(--text-on-secondary);
    }

    &-tertiary:hover {
      background-color: var(--tertiary-color);
      color: var(--text-on-tertiary);
    }

    &-success:hover {
      background-color: var(--success-color);
      color: var(--text-on-success);
    }

    &-info:hover {
      background-color: var(--info-color);
      color: var(--text-on-info);
    }

    &-warning:hover {
      background-color: var(--warning-color);
      color: var(--text-on-warning);
    }

    &-danger:hover {
      background-color: var(--danger-color);
      color: var(--text-on-danger);
    }

    &-neutral:hover {
      background-color: var(--neutral-color);
      color: var(--text-on-neutral);
    }

    &-light:hover {
      background-color: var(--light-color);
      color: var(--text-on-light);
    }

    &-dark:hover {
      background-color: var(--dark-color);
      color: var(--text-on-dark);
    }
  }
}

// Tables
table, thead, tbody, tfoot {
  &.table {
    &-primary {
      background-color: var(--table-primary-color);

      & * {
        color: var(--text-on-table-primary);
      }
    }

    &-secondary {
      background-color: var(--table-secondary-color);

      & * {
        color: var(--text-on-table-secondary);
      }
    }

    &-tertiary {
      background-color: var(--table-tertiary-color);

      & * {
        color: var(--text-on-table-tertiary);
      }
    }

    &-success {
      background-color: var(--table-success-color);

      & * {
        color: var(--text-on-table-success);
      }
    }

    &-info {
      background-color: var(--table-info-color);

      & * {
        color: var(--text-on-table-info);
      }
    }

    &-warning {
      background-color: var(--table-warning-color);

      & * {
        color: var(--text-on-table-warning);
      }
    }

    &-danger {
      background-color: var(--table-danger-color);

      & * {
        color: var(--text-on-table-danger);
      }
    }

    &-neutral {
      background-color: var(--table-neutral-color);

      & * {
        color: var(--text-on-table-neutral);
      }
    }

    &-light {
      background-color: var(--table-light-color);

      & * {
        color: var(--text-on-table-light);
      }
    }

    &-dark {
      background-color: var(--table-dark-color);

      & * {
        color: var(--text-on-table-dark);
      }
    }
  }
}

// Links
.link {
  &-primary {
    color: var(--primary-color);

    &:hover {
      color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-light));
    }
  }

  &-secondary {
    color: var(--secondary-color);

    &:hover {
      color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-light));
    }
  }

  &-tertiary {
    color: var(--tertiary-color);

    &:hover {
      color: color-mix(in srgb, var(--tertiary-color) 75%, var(--color-mix-light));
    }
  }

  &-success {
    color: var(--success-color);

    &:hover {
      color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-light));
    }
  }

  &-info {
    color: var(--info-color);

    &:hover {
      color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-light));
    }
  }

  &-warning {
    color: var(--warning-color);

    &:hover {
      color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-light));
    }
  }

  &-danger {
    color: var(--danger-color);

    &:hover {
      color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-light));
    }
  }

  &-neutral {
    color: var(--neutral-color);

    &:hover {
      color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-light));
    }
  }

  &-light {
    color: var(--light-color);

    &:hover {
      color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-light));
    }
  }

  &-dark {
    color: var(--dark-color);

    &:hover {
      color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-light));
    }
  }
}

// Alerts
.alert {
  &-primary {
    background: var(--primary-color);
    color: var(--text-on-primary);
  }

  &-secondary {
    background: var(--secondary-color);
    color: var(--text-on-secondary);
  }

  &-tertiary {
    background: var(--tertiary-color);
    color: var(--text-on-tertiary);
  }

  &-success {
    background: var(--success-color);
    color: var(--text-on-success);
  }

  &-info {
    background: var(--info-color);
    color: var(--text-on-info);
  }

  &-warning {
    background: var(--warning-color);
    color: var(--text-on-warning);
  }

  &-danger {
    background: var(--danger-color);
    color: var(--text-on-danger);
  }

  &-neutral {
    background: var(--neutral-color);
    color: var(--text-on-neutral);
  }

  &-light {
    background: var(--light-color);
    color: var(--text-on-light);
  }

  &-dark {
    background: var(--dark-color);
    color: var(--text-on-dark);
  }
}

// Scroll Indicator
.scroll-indicator{
  &-primary {
    .progress-bar {
      background: var(--primary-color);
    }
  }
  &-secondary {
    .progress-bar {
      background: var(--secondary-color);
    }
  }
  &-tertiary {
    .progress-bar {
      background: var(--tertiary-color);
    }
  }
  &-success {
    .progress-bar {
      background: var(--success-color);
    }
  }
  &-info {
    .progress-bar {
      background: var(--info-color);
    }
  }
  &-warning {
    .progress-bar {
      background: var(--warning-color);
    }
  }
  &-danger {
    .progress-bar {
      background: var(--danger-color);
    }
  }
  &-neutral {
    .progress-bar {
      background: var(--neutral-color);
    }
  }
  &-light {
    .progress-bar {
      background: var(--light-color);
    }
  }
  &-dark {
    .progress-bar {
      background: var(--dark-color);
    }
  }
}