// Background
.background-primary {
  background-color: var(--primary-color);

  &.text-contrast {
    color: var(--text-on-primary);

    * {
      color: var(--text-on-primary);
    }
  }
}

.background-secondary {
  background-color: var(--secondary-color);

  &.text-contrast {
    color: var(--text-on-secondary);

    * {
      color: var(--text-on-secondary);
    }
  }
}

.background-success {
  background-color: var(--success-color);

  &.text-contrast {
    color: var(--text-on-success);

    * {
      color: var(--text-on-success);
    }
  }
}

.background-tertiary {
  background-color: var(--tertiary-color);

  &.text-contrast {
    color: var(--text-on-tertiary);

    * {
      color: var(--text-on-tertiary);
    }
  }
}

.background-danger {
  background-color: var(--danger-color);

  &.text-contrast {
    color: var(--text-on-danger);

    * {
      color: var(--text-on-danger);
    }
  }
}

.background-warning {
  background-color: var(--warning-color);

  &.text-contrast {
    color: var(--text-on-warning);

    * {
      color: var(--text-on-warning);
    }
  }
}

.background-info {
  background-color: var(--info-color);

  &.text-contrast {
    color: var(--text-on-info);

    * {
      color: var(--text-on-info);
    }
  }
}

.background-light {
  background-color: var(--light-color);

  &.text-contrast {
    color: var(--text-on-light);

    * {
      color: var(--text-on-light);
    }
  }
}

.background-dark {
  background-color: var(--dark-color);

  &.text-contrast {
    color: var(--text-on-dark);

    * {
      color: var(--text-on-dark);
    }
  }
}

.background-neutral {
  background-color: var(--neutral-color);

  &.text-contrast {
    color: var(--text-on-neutral);

    * {
      color: var(--text-on-neutral);
    }
  }
}

.background-white {
  background-color: var(--gray-0);

  &.text-contrast {
    color: var(--text-on-white);

    * {
      color: var(--text-on-white);
    }
  }
}

.background-black {
  background-color: var(--gray-1000);

  &.text-contrast {
    color: var(--text-on-black);

    * {
      color: var(--text-on-black);
    }
  }
}

.background-surface-footer {
  background-color: var(--surface-footer-color);

  &.text-contrast {
    color: var(--text-on-surface-footer);

    * {
      color: var(--text-on-surface-footer);
    }
  }
}

.background-transparent {
  background-color: var(--transparent);
}

.background-transparent-white {
  background-color: var(--transparent-white);
}

.background-transparent-black {
  background-color: var(--transparent-black);
}

.background-transparent-theme {
  background-color: var(--transparent-theme);
}

.background-code-theme {
  background-color: var(--bg-color-code);
}

// Border color only

.border-color-primary {
  border-color: var(--primary-color);
}

.border-color-secondary {
  border-color: var(--secondary-color);
}

.border-color-tertiary {
  border-color: var(--tertiary-color);
}

.border-color-success {
  border-color: var(--success-color);
}

.border-color-info {
  border-color: var(--info-color);
}

.border-color-warning {
  border-color: var(--warning-color);
}

.border-color-danger {
  border-color: var(--danger-color);
}

.border-color-neutral {
  border-color: var(--neutral-color);
}

.border-color-light {
  border-color: var(--light-color);
}

.border-color-dark {
  border-color: var(--dark-color);
}

.light-border-color {
  border-color: var(--border-color-light);
}

.medium-border-color {
  border-color: var(--border-color-medium);
}

.dark-border-color {
  border-color: var(--border-color-dark);
}

// Border 1px solid

.border-primary {
  border: 1px solid var(--primary-color);
}

.border-secondary {
  border: 1px solid var(--secondary-color);
}

.border-tertiary {
  border: 1px solid var(--tertiary-color);
}

.border-success {
  border: 1px solid var(--success-color);
}

.border-info {
  border: 1px solid var(--info-color);
}

.border-warning {
  border: 1px solid var(--warning-color);
}

.border-danger {
  border: 1px solid var(--danger-color);
}

.border-neutral {
  border: 1px solid var(--neutral-color);
}

.border-light {
  border: 1px solid var(--light-color);
}

.border-dark {
  border: 1px solid var(--dark-color);
}

.light-border {
  border: 1px solid var(--border-color-light);
}

.medium-border {
  border: 1px solid var(--border-color-medium);
}

.dark-border {
  border: 1px solid var(--border-color-dark);
}

// Text color

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-success {
  color: var(--success-color);
}

.text-info {
  color: var(--info-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-neutral {
  color: var(--neutral-color);
}

.text-light {
  color: var(--light-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.text-theme {
  color: var(--text-color);
}


// Badges and buttons

.badge-primary,
.button-primary {
  background-color: var(--primary-color);
  color: var(--text-on-primary);

  &.active {
    background-color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-dark));
  }
}

.badge-secondary,
.button-secondary {
  background-color: var(--secondary-color);
  color: var(--text-on-secondary);

  &.active {
    background-color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-dark));
  }
}

.badge-tertiary,
.button-tertiary {
  background-color: var(--tertiary-color);
  color: var(--text-on-tertiary);

  &.active {
    background-color: color-mix(in srgb, var(--tertiary-color) 75%, var(--color-mix-dark));
  }
}

.badge-success,
.button-success {
  background-color: var(--success-color);
  color: var(--text-on-success);

  &.active {
    background-color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-dark));
  }
}

.badge-info,
.button-info {
  background-color: var(--info-color);
  color: var(--text-on-info);

  &.active {
    background-color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-dark));
  }
}

.badge-warning,
.button-warning {
  background-color: var(--warning-color);
  color: var(--text-on-warning);

  &.active {
    background-color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-dark));
  }
}

.badge-danger,
.button-danger {
  background-color: var(--danger-color);
  color: var(--text-on-danger);

  &.active {
    background-color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-dark));
  }
}

.badge-neutral,
.button-neutral {
  background-color: var(--neutral-color);
  color: var(--text-on-neutral);

  &.active {
    background-color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-dark));
  }
}

.badge-light,
.button-light {
  background-color: var(--light-color);
  color: var(--text-on-light);

  &.active {
    background-color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-dark));
  }
}

.badge-dark,
.button-dark {
  background-color: var(--dark-color);
  color: var(--text-on-dark);

  &.active {
    background-color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-dark));
  }
}

// Outline, badge-outline, and button-outline
.badge-outline-primary,
.button-outline-primary {
  background-color: var(--transparent);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.badge-outline-secondary,
.button-outline-secondary {
  background-color: var(--transparent);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.badge-outline-tertiary,
.button-outline-tertiary {
  background-color: var(--transparent);
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);

  &.active {
    background-color: var(--tertiary-color);
    color: var(--text-black);
  }
}

.badge-outline-success,
.button-outline-success {
  background-color: var(--transparent);
  border: 1px solid var(--success-color);
  color: var(--success-color);

  &.active {
    background-color: var(--success-color);
    color: var(--text-black);
  }
}

.badge-outline-info,
.button-outline-info {
  background-color: var(--transparent);
  border: 1px solid var(--info-color);
  color: var(--info-color);

  &.active {
    background-color: var(--info-color);
    color: var(--text-black);
  }
}

.badge-outline-warning,
.button-outline-warning {
  background-color: var(--transparent);
  border: 1px solid var(--warning-color);
  color: var(--warning-color);

  &.active {
    background-color: var(--warning-color);
    color: var(--text-black);
  }
}

.badge-outline-danger,
.button-outline-danger {
  background-color: var(--transparent);
  border: 1px solid var(--danger-color);
  color: var(--danger-color);

  &.active {
    background-color: var(--danger-color);
    color: var(--text-black);
  }
}

.badge-outline-neutral,
.button-outline-neutral {
  background-color: var(--transparent);
  border: 1px solid var(--neutral-color);
  color: var(--neutral-color);

  &.active {
    background-color: var(--neutral-color);
    color: var(--text-black);
  }
}

.badge-outline-light,
.button-outline-light {
  background-color: var(--transparent);
  border: 1px solid var(--light-color);
  color: var(--light-color);

  &.active {
    background-color: var(--light-color);
    color: var(--text-black);
  }
}

.badge-outline-dark,
.button-outline-dark {
  background-color: var(--transparent);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);

  &.active {
    background-color: var(--dark-color);
    color: var(--text-white);
  }
}

// Hover button and link

a,
button,
.button {
  &.badge-primary:hover,
  &.button-primary:hover {
    background-color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-dark));
    color: var(--text-on-primary);
  }

  &.badge-secondary:hover,
  &.button-secondary:hover {
    background-color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-dark));
    color: var(--text-on-secondary);
  }

  &.badge-tertiary:hover,
  &.button-tertiary:hover {
    background-color: color-mix(in srgb, var(--tertiary-color) 75%, var(--color-mix-dark));
    color: var(--text-on-tertiary);
  }

  &.badge-success:hover,
  &.button-success:hover {
    background-color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-dark));
    color: var(--text-on-success);
  }

  &.badge-info:hover,
  &.button-info:hover {
    background-color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-dark));
    color: var(--text-on-info);
  }

  &.badge-warning:hover,
  &.button-warning:hover {
    background-color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-dark));
    color: var(--text-on-warning);
  }

  &.badge-danger:hover,
  &.button-danger:hover {
    background-color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-dark));
    color: var(--text-on-danger);
  }

  &.badge-neutral:hover,
  &.button-neutral:hover {
    background-color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-dark));
    color: var(--text-on-neutral);
  }

  &.badge-light:hover,
  &.button-light:hover {
    background-color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-dark));
    color: var(--text-on-light);
  }

  &.badge-dark:hover,
  &.button-dark:hover {
    background-color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-dark));
    color: var(--text-on-dark);
  }

  &.badge-outline-primary:hover,
  &.button-outline-primary:hover {
    background-color: var(--primary-color);
    color: var(--text-on-primary);
  }

  &.badge-outline-secondary:hover,
  &.button-outline-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--text-on-secondary);
  }

  &.badge-outline-tertiary:hover,
  &.button-outline-tertiary:hover {
    background-color: var(--tertiary-color);
    color: var(--text-on-tertiary);
  }

  &.badge-outline-success:hover,
  &.button-outline-success:hover {
    background-color: var(--success-color);
    color: var(--text-on-success);
  }

  &.badge-outline-info:hover,
  &.button-outline-info:hover {
    background-color: var(--info-color);
    color: var(--text-on-info);
  }

  &.badge-outline-warning:hover,
  &.button-outline-warning:hover {
    background-color: var(--warning-color);
    color: var(--text-on-warning);
  }

  &.badge-outline-danger:hover,
  &.button-outline-danger:hover {
    background-color: var(--danger-color);
    color: var(--text-on-danger);
  }

  &.badge-outline-neutral:hover,
  &.button-outline-neutral:hover {
    background-color: var(--neutral-color);
    color: var(--text-on-neutral);
  }

  &.badge-outline-light:hover,
  &.button-outline-light:hover {
    background-color: var(--light-color);
    color: var(--text-on-light);
  }

  &.badge-outline-dark:hover,
  &.button-outline-dark:hover {
    background-color: var(--dark-color);
    color: var(--text-on-dark);
  }
}

// Tables

table.table-primary,
thead.table-primary,
tbody.table-primary,
tfoot.table-primary {
  background-color: var(--table-primary-color);

  & * {
    color: var(--text-on-table-primary);
  }
}

table.table-secondary,
thead.table-secondary,
tbody.table-secondary,
tfoot.table-secondary {
  background-color: var(--table-secondary-color);

  & * {
    color: var(--text-on-table-secondary);
  }
}

table.table-tertiary,
thead.table-tertiary,
tbody.table-tertiary,
tfoot.table-tertiary {
  background-color: var(--table-tertiary-color);

  & * {
    color: var(--text-on-table-tertiary);
  }
}

table.table-success,
thead.table-success,
tbody.table-success,
tfoot.table-success {
  background-color: var(--table-success-color);

  & * {
    color: var(--text-on-table-success);
  }
}

table.table-info,
thead.table-info,
tbody.table-info,
tfoot.table-info {
  background-color: var(--table-info-color);

  & * {
    color: var(--text-on-table-info);
  }
}

table.table-warning,
thead.table-warning,
tbody.table-warning,
tfoot.table-warning {
  background-color: var(--table-warning-color);

  & * {
    color: var(--text-on-table-warning);
  }
}

table.table-danger,
thead.table-danger,
tbody.table-danger,
tfoot.table-danger {
  background-color: var(--table-danger-color);

  & * {
    color: var(--text-on-table-danger);
  }
}

table.table-neutral,
thead.table-neutral,
tbody.table-neutral,
tfoot.table-neutral {
  background-color: var(--table-neutral-color);

  & * {
    color: var(--text-on-table-neutral);
  }
}

table.table-dark,
thead.table-dark,
tbody.table-dark,
tfoot.table-dark {
  background-color: var(--table-dark-color);

  & * {
    color: var(--text-on-table-dark);
  }
}

table.table-light,
thead.table-light,
tbody.table-light,
tfoot.table-light {
  background-color: var(--table-light-color);

  & * {
    color: var(--text-on-table-light);
  }
}

// Links

.link-primary {
  color: var(--primary-color);

  &:hover {
    color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-light));
  }
}

.link-secondary {
  color: var(--secondary-color);

  &:hover {
    color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-light));
  }
}

.link-tertiary {
  color: var(--tertiary-color);

  &:hover {
    color: color-mix(in srgb, var(--tertiary-color) 75%, var(--color-mix-light));
  }
}

.link-success {
  color: var(--success-color);

  &:hover {
    color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-light));
  }
}

.link-info {
  color: var(--info-color);

  &:hover {
    color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-light));
  }
}

.link-warning {
  color: var(--warning-color);

  &:hover {
    color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-light));
  }
}

.link-danger {
  color: var(--danger-color);

  &:hover {
    color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-light));
  }
}

.link-neutral {
  color: var(--neutral-color);

  &:hover {
    color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-light));
  }
}

.link-dark {
  color: var(--dark-color);

  &:hover {
    color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-light));
  }
}

.link-light {
  color: var(--light-color);

  &:hover {
    color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-light));
  }
}