// Lists
.list-style-none { list-style: none; }

.list-group-item {
  list-style: none;
  display: flex;
  flex-direction: column;

  &:has(.nav-link) { gap: 0; }
  &:not(:has(.nav-link)) { gap: var(--gap-base); }
}

.list-inline {
  list-style: none;

  .list-inline-item {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .list-inline-item:last-child {
    margin-right: 0;
  }
}

.list-unstyled { list-style: none; }

// Nav links
.nav-link,
.nav-link-fit {
  color: inherit;
  text-wrap: nowrap;
  display: inline-flex;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  text-decoration: none;

  &:hover {
    color: inherit;
    background-color: var(--hover-color);
  }
}

.nav-link { width: 100%; }
.nav-link-fit { width: fit-content; }

.no-underline { text-decoration: none; }

// Images
.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  border: 1px solid var(--border-color-whisper);
  max-width: 100%;
  height: auto;
  background-color: var(--gray-0);
  padding: 0.4rem;
}

.img-hover-opacity {
  transition: 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

// Floats
.float-start { float: left; }
.float-end { float: right; }