.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  border: 1px solid var(--border-color-whisper);
  max-width: 100%;
  height: auto;
  background-color: var(--gray-0);
  padding: 0.4rem;
}

.img-hover-opacity {
  transition: 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.position-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.position-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.position-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.position-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

// Flex column spacing
.vertical-space-between,
.vertical-space-around,
.vertical-space-evenly,
.vertical-center {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vertical-space-between { justify-content: space-between; }
.vertical-space-around { justify-content: space-around; }
.vertical-space-evenly { justify-content: space-evenly; }
.vertical-center { justify-content: center; }

.transition-theme {transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;}
