//Text alignment
.text-start {
  &-force {
    text-align: left !important;
  }

  text-align: left;
}

.text-center {
  &-force {
    text-align: center !important;
  }

  text-align: center;
}

.text-end {
  &-force {
    text-align: right !important;
  }

  text-align: right;
}

.text-nowrap {
  &-force {
    text-wrap: nowrap !important;
    white-space: nowrap !important;
  }

  text-wrap: nowrap;
  white-space: nowrap;
}

//Cursor
.cursor-pointer {
  &-force {
    cursor: pointer !important;
  }

  cursor: pointer;
}

//Border
.border-0 {
  &-force {
    border-width: 0 !important;
  }

  border-width: 0;
}

.border-1 {
  &-force {
    border-width: .1rem !important;
  }

  border-width: .1rem;
}

.border-2 {
  &-force {
    border-width: .2rem !important;
  }

  border-width: .2rem;
}

.border-3 {
  &-force {
    border-width: .3rem !important;
  }

  border-width: .3rem;
}

.border-radius {
  &-force {
    border-radius: var(--border-radius) !important;
  }

  border-radius: var(--border-radius);
}

.border-radius-0 {
  &-force {
    border-radius: 0 !important;
  }

  border-radius: 0;
}

//Opacity
.opacity-0 {
  &-force {
    opacity: 0 !important;
  }

  opacity: 0;
}

.opacity-25 {
  &-force {
    opacity: 0.25 !important;
  }

  opacity: 0.25;
}

.opacity-50 {
  &-force {
    opacity: 0.5 !important;
  }

  opacity: 0.5;
}

.opacity-75 {
  &-force {
    opacity: 0.75 !important;
  }

  opacity: 0.75;
}

.opacity-100 {
  &-force {
    opacity: 1 !important;
  }

  opacity: 1;
}

//Overflow/Resize
.no-scroll {
  &-force {
    overflow: hidden !important;
  }

  overflow: hidden;
}

.no-resize {
  &-force {
    resize: none !important;
  }

  resize: none;
}

//Position
.position-relative {
  &-force {
    position: relative !important;
  }

  position: relative;
}

.position-absolute {
  &-force {
    position: absolute !important;
  }

  position: absolute;
}

.position-fixed {
  &-force {
    position: fixed !important;
  }

  position: fixed;
}

.position-sticky {
  &-force {
    position: sticky !important;
  }

  position: sticky;
}

.position-relative {
  &-force {
    position: relative !important;
  }

  position: relative;
}

.position-absolute {
  &-force {
    position: absolute !important;
  }

  position: absolute;
}

.position-fixed {
  &-force {
    position: fixed !important;
  }

  position: fixed;
}

.position-sticky {
  &-force {
    position: sticky !important;
  }

  position: sticky;
}

//Width
.fit-content {
  &-force {
    width: fit-content !important;
  }

  width: fit-content;
}

//Boxshadow
.box-shadow-navbar {
  box-shadow: var(--box-shadow-navbar);
}

//Boxshadow
.box-shadow-card {
  box-shadow: var(--box-shadow-card);
}

//Inheritance
.inherit {
  &-force {
    all: inherit !important;
  }

  all: inherit;
}

.initial {
  &-force {
    all: initial !important;
  }

  all: initial;
}

//Lists
.list-style-none {
  &-force {
    list-style: none !important;
  }

  list-style: none;
}

//Links
.no-underline {
  &-force {
    text-decoration: none !important;
  }

  text-decoration: none;
}