/* Badge */
.group-badge {
  display: flex;
  flex-wrap: wrap;
  gap: var(--badge-group-gap-md);

  &-sm {
    @extend .group-badge;
    gap: var(--badge-group-gap-sm);
  }

  &-md {
    @extend .group-badge;
    gap: var(--badge-group-gap-md);
  }

  &-lg {
    @extend .group-badge;
    gap: var(--badge-group-gap-lg);
  }
}

a.badge {
  text-decoration: none;
}

.badge {
  padding: var(--badge-padding-md);
  border-radius: var(--border-radius);
  white-space: nowrap;


  &-sm {
    @extend .badge;
    padding: var(--badge-padding-sm);
  }

  &-md {
    @extend .badge;
    padding: var(--badge-padding-md);
  }

  &-lg {
    @extend .badge;
    padding: var(--badge-padding-lg);
  }

  &.round {
    border-radius: 10rem;
  }
}