.group-button {
    display: flex;
    flex-wrap: wrap;
    gap: var(--button-group-gap-md);

    &.extra-small {gap: var(--button-group-gap-xs);}
    &.small {gap: var(--button-group-gap-sm);}
    &.medium {gap: var(--button-group-gap-md);}
    &.large {gap: var(--button-group-gap-lg);}
    &.extra-large {gap: var(--button-group-gap-xl);}
}


button,
.button {
    border-radius: var(--border-radius);
    padding: var(--button-padding-md);
    border: none;
    cursor: pointer;
    white-space: nowrap;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &.extra-small {padding: var(--button-padding-xs);}
    &.small {padding: var(--button-padding-sm);}
    &.medium {padding: var(--button-padding-md);}
    &.large {padding: var(--button-padding-lg);}
    &.extra-large {padding: var(--button-padding-xl);}
    &.round {border-radius: 10rem;}
}

// Button Theme
[data-btn-theme] {
    cursor: pointer;
}