.group-btn {
    display: flex;
    flex-wrap: wrap;
    gap: var(--button-group-gap-md);

    &.sm {gap: var(--button-group-gap-sm);}
    &.md {gap: var(--button-group-gap-md);}
    &.lg {gap: var(--button-group-gap-lg);}
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

button,
.btn {
    border-radius: var(--border-radius);
    padding: var(--button-padding-md);
    border: none;
    cursor: pointer;
    white-space: nowrap;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &.sm {padding: var(--button-padding-sm);}
    &.md {padding: var(--button-padding-md);}
    &.lg {padding: var(--button-padding-lg);}
    &.round {border-radius: 10rem;}
}

// Button Theme
[data-btn-theme] {
    cursor: pointer;
}