.container-card{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-container-card);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border-color-whisper);
    border-radius: var(--border-radius);

    &.card-bordered {
        .card-header, .card-footer {border: none;}
        .card-body {
            border-top: 1px solid var(--border-color-whisper);
            border-bottom: 1px solid var(--border-color-whisper);
        }
    }

    .card-header {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: var(--card-header-padding);
    }
    .card-body {
        padding: var(--card-body-padding);
    }
    .card-footer {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        padding: var(--card-footer-padding);
    }
}
