label.required::after {
  content: ' *';
  color: var(--red);
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

input,
select,
textarea {
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-bg-color);
  color: var(--input-color);
  margin-block: .5rem;
  padding: 0 1.5rem;

  &:not(input[type="color"]):not(input[type="checkbox"]):not(input[type="radio"]) {
    width: 100%;
  }

  &:not(textarea) {
    height: var(--input-height-md);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }

  &:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0.2rem 0.1rem color-mix(in srgb, var(--primary-color) 50%, var(--transparent));
    outline: none;
  }


  &.input-sm:not(input[type="range"]) {
    height: var(--input-height-sm);
  }

  &.input-md:not(input[type="range"]) {
    height: var(--input-height-md);
  }

  &.input-lg:not(input[type="range"]) {
    height: var(--input-height-lg);
  }
}

input[type="color"] {
  padding: 0;
  cursor: pointer;
  display: block;

  &::-webkit-color-swatch {
    border-radius: var(--border-radius);
    border: none;
  }

  &::-webkit-color-swatch-wrapper {
    padding: .4rem;
  }
}

input[type="file"] {
  padding: 0 1.5rem 0 0;

  &::-webkit-file-upload-button,
  &::file-selector-button {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--text-on-primary);
    padding: 0 1.5rem;
    border: none;
    height: 100%;
    align-items: self-start;
    cursor: pointer;
    margin-right: 1.5rem;
  }
}

input[type="radio"],
input[type="checkbox"]:not(.switch input[type="checkbox"]) {

  width: var(--input-size-md);

  &.input-sm {
    width: var(--input-size-sm);
  }

  &.input-md {
    width: var(--input-size-md);
  }

  &.input-lg {
    width: var(--input-size-lg);
  }
}

input[type="range"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  border-color: var(--transparent);
  box-shadow: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: block;
  width: fit-content;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  accent-color: var(--primary-color);
}

.wrapper-switch {
  align-content: center;
  margin-block: .5rem;
  height: var(--input-height-md);

  .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;

    input {
      display: none;
    }

    .slider {
      background-color: var(--switch-bg-color);
      border: 1px solid var(--switch-border-color);
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: .3s;
      transition: .3s;

      &:before {
        background-color: var(--switch-btn-color);
        position: absolute;
        content: "";
        height: 1.1rem;
        width: 1.1rem;
        left: .1rem;
        bottom: .1rem;
        -webkit-transition: .3s;
        transition: .3s;
      }

      &.round {
        border-radius: 10rem;

        &:before {
          border-radius: 50%;
        }
      }
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(1.5rem);
      -ms-transform: translateX(1.5rem);
      transform: translateX(1.5rem);
    }

    input:checked + .slider {
      background-color: var(--primary-color);
    }
  }
  // size of switch

  &-sm {
    @extend .wrapper-switch;
    height: var(--input-height-sm);

    .switch {
      width: calc(var(--input-size-switch-sm) * 2);
      height: var(--input-size-switch-sm);

      .slider:before {
        width: calc(var(--input-size-switch-sm) - .4rem);
        height: calc(var(--input-size-switch-sm) - .4rem);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(var(--input-size-switch-sm));
        -ms-transform: translateX(var(--input-size-switch-sm));
        transform: translateX(var(--input-size-switch-sm));
      }
    }
  }

  &-md {
    @extend .wrapper-switch;
    height: var(--input-height-md);

    .switch {
      width: calc(var(--input-size-switch-md) * 2);
      height: var(--input-size-switch-md);

      .slider:before {
        width: calc(var(--input-size-switch-md) - .4rem);
        height: calc(var(--input-size-switch-md) - .4rem);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(var(--input-size-switch-md));
        -ms-transform: translateX(var(--input-size-switch-md));
        transform: translateX(var(--input-size-switch-md));
      }
    }
  }

  &-lg {
    @extend .wrapper-switch;
    height: var(--input-height-lg);

    .switch {
      width: calc(var(--input-size-switch-lg) * 2);
      height: var(--input-size-switch-lg);

      .slider:before {
        width: calc(var(--input-size-switch-lg) - .4rem);
        height: calc(var(--input-size-switch-lg) - .4rem);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(var(--input-size-switch-lg));
        -ms-transform: translateX(var(--input-size-switch-lg));
        transform: translateX(var(--input-size-switch-lg));
      }
    }
  }

}

.switch-label {
  width: fit-content;
  cursor: default;
}

.form-inline {
  gap: var(--gap-form);
  display: flex;
  align-items: center;
  max-width: 100%;

  label {
    text-wrap: nowrap;
  }
}

.form-column {
  gap: var(--gap-form);
  display: flex;
  flex-direction: column;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--input-height-md);
  background: var(--transparent);
  border: none;

  /* Pour Chrome, Safari, Opera, Edge */
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--input-size-range-md);
    cursor: pointer;
    background: color-mix(in srgb, var(--primary-color) 50%, var(--color-mix-light));
    border-radius: var(--border-radius);
  }

  /* Pour Firefox */
  &::-moz-range-track {
    width: 100%;
    height: var(--input-size-range-md);
    cursor: pointer;
    background: color-mix(in srgb, var(--primary-color) 50%, var(--color-mix-light));
    border-radius: var(--border-radius);
  }

  /* Pour Chrome, Safari, Opera, Edge */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: calc(var(--input-size-range-md) * 2);
    width: calc(var(--input-size-range-md) * 2);
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    margin-top: calc((var(--input-size-range-md) - (var(--input-size-range-md) * 2)) / 2);
  }

  /* Pour Firefox */
  &::-moz-range-thumb {
    height: calc(var(--input-size-range-md) * 2);
    width: calc(var(--input-size-range-md) * 2);
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    margin-top: calc((var(--input-size-range-md) - (var(--input-size-range-md) * 2)) / 2);
  }

  &.input-sm {
    height: var(--input-height-sm);

    &::-webkit-slider-runnable-track {
      height: var(--input-size-range-sm);
    }

    &::-moz-range-track {
      height: var(--input-size-range-sm);
    }

    &::-webkit-slider-thumb {
      height: calc(var(--input-size-range-sm) * 2);
      width: calc(var(--input-size-range-sm) * 2);
      margin-top: calc((var(--input-size-range-sm) - (var(--input-size-range-sm) * 2)) / 2);
    }

    &::-moz-range-thumb {
      height: calc(var(--input-size-range-sm) * 2);
      width: calc(var(--input-size-range-sm) * 2);
      margin-top: calc((var(--input-size-range-sm) - (var(--input-size-range-sm) * 2)) / 2);
    }
  }

  &.input-md {
    height: var(--input-height-md);

    &::-webkit-slider-runnable-track {
      height: var(--input-size-range-md);
    }

    &::-moz-range-track {
      height: var(--input-size-range-md);
    }

    &::-webkit-slider-thumb {
      height: calc(var(--input-size-range-md) * 2);
      width: calc(var(--input-size-range-md) * 2);
      margin-top: calc((var(--input-size-range-md) - (var(--input-size-range-md) * 2)) / 2);
    }

    &::-moz-range-thumb {
      height: calc(var(--input-size-range-md) * 2);
      width: calc(var(--input-size-range-md) * 2);
      margin-top: calc((var(--input-size-range-md) - (var(--input-size-range-md) * 2)) / 2);
    }
  }

  &.input-lg {
    height: var(--input-height-lg);

    &::-webkit-slider-runnable-track {
      height: var(--input-size-range-lg);
    }

    &::-moz-range-track {
      height: var(--input-size-range-lg);
    }

    &::-webkit-slider-thumb {
      height: calc(var(--input-size-range-lg) * 2);
      width: calc(var(--input-size-range-lg) * 2);
      margin-top: calc((var(--input-size-range-lg) - (var(--input-size-range-lg) * 2)) / 2);
    }

    &::-moz-range-thumb {
      height: calc(var(--input-size-range-lg) * 2);
      width: calc(var(--input-size-range-lg) * 2);
      margin-top: calc((var(--input-size-range-lg) - (var(--input-size-range-lg) * 2)) / 2);
    }
  }

}