.nav-link {
  border-radius: var(--border-radius);
  width: 100%;
  color: inherit;
  text-wrap: nowrap;
  display: inline-flex;
  text-decoration: none;
  padding: var(--nav-link-padding-md);

  &-sm {
    @extend .nav-link;
    padding: var(--nav-link-padding-sm);
  }

  &-md {
    @extend .nav-link;
    padding: var(--nav-link-padding-md);
  }

  &-lg {
    @extend .nav-link;
    padding: var(--nav-link-padding-lg);
  }

  &:hover {
    background-color: var(--nav-link-bg-color-hover);
  }
}

.nav-link-fit {
  width: fit-content;
}
