.navbar-sm {
  width: 100%;
  min-height: var(--navbar-min-height-sm);
  padding: var(--navbar-padding-sm);
  @container body (width < 576px) {

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: var(--gap-navbar);
      height: 0;

      &[data-expanded="true"] {
        height: auto;
      }

      &[data-expanded="false"] {
        height: 0;
      }

      .nav {
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: var(--gap-navbar);

        &:first-child {
          margin-top: var(--gap-navbar);
        }
      }
    }
  }
  @container body (width >= 576px) {

    display: flex;
    align-items: center;
    gap: var(--gap-navbar);

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-burger {
        display: none;
      }
    }

    .navbar-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      gap: var(--gap-navbar);

      .nav {
        display: flex;
        flex-grow: 1;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: var(--gap-navbar);

        &.nav-start {
          justify-content: flex-start;
        }

        &.nav-center {
          justify-content: center;
        }

        &.nav-end {
          justify-content: flex-end;
        }
      }
    }
  }
}

.navbar,
.navbar-md {
  width: 100%;
  min-height: var(--navbar-min-height-md);
  padding: var(--navbar-padding-md);
  @container body (width < 768px) {

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: var(--gap-navbar);
      height: 0;

      &[data-expanded="true"] {
        height: auto;
      }

      &[data-expanded="false"] {
        height: 0;
      }

      .nav {
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: var(--gap-navbar);

        &:first-child {
          margin-top: var(--gap-navbar);
        }
      }
    }
  }
  @container body (width >= 768px) {

    display: flex;
    align-items: center;
    gap: var(--gap-navbar);

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-burger {
        display: none;
      }
    }

    .navbar-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      gap: var(--gap-navbar);

      .nav {
        display: flex;
        flex-grow: 1;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: var(--gap-navbar);

        &.nav-start {
          justify-content: flex-start;
        }

        &.nav-center {
          justify-content: center;
        }

        &.nav-end {
          justify-content: flex-end;
        }
      }
    }
  }
}

.navbar-lg {
  width: 100%;
  min-height: var(--navbar-min-height-lg);
  padding: var(--navbar-padding-lg);
  @container body (width < 992px) {

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: var(--gap-navbar);
      height: 0;

      &[data-expanded="true"] {
        height: auto;
      }

      &[data-expanded="false"] {
        height: 0;
      }

      .nav {
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: var(--gap-navbar);

        &:first-child {
          margin-top: var(--gap-navbar);
        }
      }
    }
  }
  @container body (width >= 992px) {

    display: flex;
    align-items: center;
    gap: var(--gap-navbar);

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-burger {
        display: none;
      }
    }

    .navbar-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      gap: var(--gap-navbar);

      .nav {
        display: flex;
        flex-grow: 1;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: var(--gap-navbar);

        &.nav-start {
          justify-content: flex-start;
        }

        &.nav-center {
          justify-content: center;
        }

        &.nav-end {
          justify-content: flex-end;
        }
      }
    }
  }
}

.navbar-xl {
  width: 100%;
  min-height: var(--navbar-min-height-xl);
  padding: var(--navbar-padding-xl);
  @container body (width < 1200px) {

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: var(--gap-navbar);
      height: 0;

      &[data-expanded="true"] {
        height: auto;
      }

      &[data-expanded="false"] {
        height: 0;
      }

      .nav {
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: var(--gap-navbar);

        &:first-child {
          margin-top: var(--gap-navbar);
        }
      }
    }
  }
  @container body (width >= 1200px) {

    display: flex;
    align-items: center;
    gap: var(--gap-navbar);

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-burger {
        display: none;
      }
    }

    .navbar-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      gap: var(--gap-navbar);

      .nav {
        display: flex;
        flex-grow: 1;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: var(--gap-navbar);

        &.nav-start {
          justify-content: flex-start;
        }

        &.nav-center {
          justify-content: center;
        }

        &.nav-end {
          justify-content: flex-end;
        }
      }
    }
  }
}

.navbar-side {
  //min-height: var(--navbar-min-height-side);
  padding: var(--navbar-padding-side);
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap-navbar);

  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--gap-navbar);

    .nav {
      display: flex;
      flex-grow: 1;
      list-style: none;
      justify-content: center;
      align-items: center;
      gap: var(--gap-navbar);

      &.nav-start {
        justify-content: flex-start;
      }

      &.nav-center {
        justify-content: center;
      }

      &.nav-end {
        justify-content: flex-end;
      }
    }
  }
}