.nav-link {
  border-radius: var(--border-radius);
  width: 100%;
  color: inherit;
  text-wrap: nowrap;
  display: inline-flex;
  text-decoration: none;
  padding: var(--nav-link-padding-md);

  &.small         { padding: var(--nav-link-padding-sm); }
  &.medium        { padding: var(--nav-link-padding-md); }
  &.large         { padding: var(--nav-link-padding-lg); }

  &:hover {background-color: var(--hover-color);}
}

.nav-link-fit {width: fit-content;}
