.tab {
    border-radius: var(--border-radius);
    overflow: hidden;
    display: inline-flex;

    button {
        margin: 0;
        border-radius: 0;
        float: left;
    }
}

.tab-content {
    border-radius: var(--border-radius);
    display: none;
    padding: var(--tab-content-padding);
    -webkit-animation: fade-in 1s;
    animation: fade-in 1s;

    &[data-active="true"] {
        display: block;
    }
}
