<section id="alert-section">

    <div class="container">
        <h2 class="text-primary text-center">Alerts</h2>

        <div class="container-alert">
            <div class="alert alert-primary">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-secondary">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-tertiary">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-success">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-info">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-warning">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or` positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-danger">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-neutral">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-light">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
            <div class="alert alert-dark">
                Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
                successful or positive action.
                <button type="button" class="close" data-action="dismiss-alert"></button>
            </div>
        </div>
    </div>
</section>