<section id="alert-section">

    <div class="container-alert">
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
        <div class="alert alert-success">
            Success! This alert box indicates a successful or positive action. Success! This alert box indicates a
            successful or positive action.
            <button type="button" class="close outline-success" data-action="dismiss-alert"></button>
        </div>
    </div>
</section>