<section id="badge-linked-section">
    <div class="container my-5">
        <h2 class="text-primary text-center">Badges linked</h2>

        <!--
        Badges linked outline
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Badges linked outline</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display"
                 data-target="#container-code-badge-linked-outline"></div>
        </div>

        <div data-code-target="#code-badge-linked-outline">
            <div class="row">
                <div class="col-12 group-badge">

                    <!--Badges-linked-outline-->
                    <a href="#" class="badge outline-primary">Primary</a>
                    <a href="#" class="badge outline-secondary">Secondary</a>
                    <a href="#" class="badge outline-success">Success</a>
                    <a href="#" class="badge outline-info">Info</a>
                    <a href="#" class="badge outline-warning">Warning</a>
                    <a href="#" class="badge outline-danger">Danger</a>
                    <a href="#" class="badge outline-neutral">Neutral</a>
                    <a href="#" class="badge outline-light">Light</a>
                    <a href="#" class="badge outline-dark">Dark</a>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-badge-linked-outline">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-badge-linked-outline" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-badge-linked-outline" data-type="code">
        </code></pre>
        </div>

        <!--
        Badges linked pill
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Badges linked pill</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display"
                 data-target="#container-code-badge-linked-pill"></div>
        </div>

        <div data-code-target="#code-badge-linked-pill">
            <div class="row">
                <div class="col-12 group-badge">

                    <!--Badges-linked-pill-->
                    <a href="#" class="badge round badge-primary">Primary</a>
                    <a href="#" class="badge round badge-secondary">Secondary</a>
                    <a href="#" class="badge round badge-success">Success</a>
                    <a href="#" class="badge round badge-info">Info</a>
                    <a href="#" class="badge round badge-warning">Warning</a>
                    <a href="#" class="badge round badge-danger">Danger</a>
                    <a href="#" class="badge round badge-neutral">Neutral</a>
                    <a href="#" class="badge round badge-light">Light</a>
                    <a href="#" class="badge round badge-dark">Dark</a>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-badge-linked-pill">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-badge-linked-pill" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-badge-linked-pill" data-type="code">
        </code></pre>
        </div>

        <!--
        Badges linked small
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Badges linked small</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display"
                 data-target="#container-code-badge-linked-small"></div>
        </div>

        <div data-code-target="#code-badge-linked-small">
            <div class="row">
                <div class="col-12 group-badge sm">

                    <!--Badges-linked-small-->
                    <a href="#" class="badge sm badge-primary">Primary</a>
                    <a href="#" class="badge sm badge-secondary">Secondary</a>
                    <a href="#" class="badge sm badge-success">Success</a>
                    <a href="#" class="badge sm badge-info">Info</a>
                    <a href="#" class="badge sm badge-warning">Warning</a>
                    <a href="#" class="badge sm badge-danger">Danger</a>
                    <a href="#" class="badge sm badge-neutral">Neutral</a>
                    <a href="#" class="badge sm badge-light">Light</a>
                    <a href="#" class="badge sm badge-dark">Dark</a>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-badge-linked-small">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-badge-linked-small" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-badge-linked-small" data-type="code">
        </code></pre>
        </div>

        <!--
        Badges linked medium
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Badges linked medium</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display"
                 data-target="#container-code-badge-linked-medium"></div>
        </div>

        <div data-code-target="#code-badge-linked-medium">
            <div class="row">
                <div class="col-12 group-badge md">

                    <!--Badges-linked-medium-->
                    <a href="#" class="badge md badge-primary">Primary</a>
                    <a href="#" class="badge md badge-secondary">Secondary</a>
                    <a href="#" class="badge md badge-success">Success</a>
                    <a href="#" class="badge md badge-info">Info</a>
                    <a href="#" class="badge md badge-warning">Warning</a>
                    <a href="#" class="badge md badge-danger">Danger</a>
                    <a href="#" class="badge md badge-neutral">Neutral</a>
                    <a href="#" class="badge md badge-light">Light</a>
                    <a href="#" class="badge md badge-dark">Dark</a>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-badge-linked-medium">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-badge-linked-medium" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-badge-linked-medium" data-type="code">
        </code></pre>
        </div>

        <!--
        Badges linked large
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Badges linked large</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display"
                 data-target="#container-code-badge-linked-large"></div>
        </div>

        <div data-code-target="#code-badge-linked-large">
            <div class="row">
                <div class="col-12 group-badge lg">

                    <!--Badges-linked-large-->
                    <a href="#" class="badge lg badge-primary">Primary</a>
                    <a href="#" class="badge lg badge-secondary">Secondary</a>
                    <a href="#" class="badge lg badge-success">Success</a>
                    <a href="#" class="badge lg badge-info">Info</a>
                    <a href="#" class="badge lg badge-warning">Warning</a>
                    <a href="#" class="badge lg badge-danger">Danger</a>
                    <a href="#" class="badge lg badge-neutral">Neutral</a>
                    <a href="#" class="badge lg badge-light">Light</a>
                    <a href="#" class="badge lg badge-dark">Dark</a>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-badge-linked-large">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-badge-linked-large" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-badge-linked-large" data-type="code">
        </code></pre>
        </div>


    </div>
</section>