<section id="button-section" class="my-5">


    <h2>Button</h2>

    <!--
    Button outline
    -->

    <div class="d-flex align-items-center mt-2">
        <h3>Button outline</h3>
        <div class="ms-2 cursor-pointer" data-action="toggle-display"
             data-target="#container-code-button-outline"></div>
    </div>

    <div data-code-target="#code-button-outline">
        <div class="row">
            <div class="col-12 group-button">

                <!-- Button-outline -->
                <button class="button-outline-primary">Go to page 1</button>
                <button class="button-outline-secondary">Go to page 2</button>
                <button class="button-outline-success">Go to page 3</button>
                <button class="button-outline-info">Go to page 4</button>
                <button class="button-outline-warning">Go to page 5</button>
                <button class="button-outline-danger">Go to page 6</button>
                <button class="button-outline-neutral">Go to page 7</button>
                <button class="button-outline-light">Go to page 8</button>
                <button class="button-outline-dark">Go to page 9</button>
            </div>
        </div>
    </div>

    <div class="container-code mt-2 d-none" id="container-code-button-outline">
        <button class="button-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                data-target="#code-button-outline" data-tooltip="Copié !">Copier
        </button>
        <pre><code id="code-button-outline" data-type="code">
        </code></pre>
    </div>

    <!--
    Button round
    -->

    <div class="d-flex align-items-center">
        <h3>Button round</h3>
        <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-round"></div>
    </div>

    <div data-code-target="#code-round">
        <div class="row">
            <div class="col-12 group-button">

                <!-- round -->
                <button class="button-primary round">Go to page 1</button>
                <button class="button-secondary round">Go to page 2</button>
                <button class="button-success round">Go to page 3</button>
                <button class="button-info round">Go to page 4</button>
                <button class="button-warning round">Go to page 5</button>
                <button class="button-danger round">Go to page 6</button>
                <button class="button-neutral round">Go to page 7</button>
                <button class="button-light round">Go to page 8</button>
                <button class="button-dark round">Go to page 9</button>
            </div>
        </div>
    </div>

    <div class="container-code mt-2 d-none" id="container-code-round">
        <button class="button-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                data-target="#code-round" data-tooltip="Copié !">Copier
        </button>
        <pre><code id="code-round" data-type="code">
        </code></pre>
    </div>

    <!--
    Button extra-small
    -->

    <div class="d-flex align-items-center mt-2">
        <h3>Button extra-small</h3>
        <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-extra-small"></div>
    </div>

    <div data-code-target="#code-extra-small">
        <div class="row">
            <div class="col-12 group-button extra-small">

                <!-- extra-small -->
                <button class="button-primary extra-small">Go to page 1</button>
                <button class="button-secondary extra-small">Go to page 2</button>
                <button class="button-success extra-small">Go to page 3</button>
                <button class="button-info extra-small">Go to page 4</button>
                <button class="button-warning extra-small">Go to page 5</button>
                <button class="button-danger extra-small">Go to page 6</button>
                <button class="button-neutral extra-small">Go to page 7</button>
                <button class="button-light extra-small">Go to page 8</button>
                <button class="button-dark extra-small">Go to page 9</button>
            </div>
        </div>
    </div>

    <div class="container-code mt-2 d-none" id="container-code-extra-small">
        <button class="button-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                data-target="#code-extra-small" data-tooltip="Copié !">Copier
        </button>
        <pre><code id="code-extra-small" data-type="code">
        </code></pre>
    </div>


    <!--
    Button small
    -->

    <div class="d-flex align-items-center mt-2">
        <h3>Button small</h3>
        <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-small"></div>
    </div>

    <div data-code-target="#code-small">
        <div class="row">
            <div class="col-12 group-button small">

                <!-- small -->
                <button class="button-primary small">Go to page 1</button>
                <button class="button-secondary small">Go to page 2</button>
                <button class="button-success small">Go to page 3</button>
                <button class="button-info small">Go to page 4</button>
                <button class="button-warning small">Go to page 5</button>
                <button class="button-danger small">Go to page 6</button>
                <button class="button-neutral small">Go to page 7</button>
                <button class="button-light small">Go to page 8</button>
                <button class="button-dark small">Go to page 9</button>
            </div>
        </div>
    </div>

    <div class="container-code mt-2 d-none" id="container-code-small">
        <button class="button-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                data-target="#code-small" data-tooltip="Copié !">Copier
        </button>
        <pre><code id="code-small" data-type="code">
        </code></pre>
    </div>

    <!--
    Button medium
    -->

    <div class="d-flex align-items-center mt-2">
        <h3>Button medium</h3>
        <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-button-medium"></div>
    </div>

    <div data-code-target="#code-button-medium">
        <div class="row">
            <div class="col-12 group-button medium">

                <!-- Button-medium -->
                <button class="button-primary medium">Go to page 1</button>
                <button class="button-secondary medium">Go to page 2</button>
                <button class="button-success medium">Go to page 3</button>
                <button class="button-info medium">Go to page 4</button>
                <button class="button-warning medium">Go to page 5</button>
                <button class="button-danger medium">Go to page 6</button>
                <button class="button-neutral medium">Go to page 7</button>
                <button class="button-light medium">Go to page 8</button>
                <button class="button-dark medium">Go to page 9</button>
            </div>
        </div>
    </div>

    <div class="container-code mt-2 d-none" id="container-code-button-medium">
        <button class="button-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                data-target="#code-button-medium" data-tooltip="Copié !">Copier
        </button>
        <pre><code id="code-button-medium" data-type="code">
        </code></pre>
    </div>

    <!--
    Button large
    -->

    <div class="d-flex align-items-center mt-2">
        <h3>Button large</h3>
        <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-button-large"></div>
    </div>

    <div data-code-target="#code-button-large">
        <div class="row">
            <div class="col-12 group-button large">

                <!-- Button-large -->
                <button class="button-primary large">Go to page 1</button>
                <button class="button-secondary large">Go to page 2</button>
                <button class="button-success large">Go to page 3</button>
                <button class="button-info large">Go to page 4</button>
                <button class="button-warning large">Go to page 5</button>
                <button class="button-danger large">Go to page 6</button>
                <button class="button-neutral large">Go to page 7</button>
                <button class="button-light large">Go to page 8</button>
                <button class="button-dark large">Go to page 9</button>
            </div>
        </div>
    </div>

    <div class="container-code mt-2 d-none" id="container-code-button-large">
        <button class="button-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                data-target="#code-button-large" data-tooltip="Copié !">Copier
        </button>
        <pre><code id="code-button-large" data-type="code">
        </code></pre>
    </div>

    <!--
    Button extra-large
    -->

    <div class="d-flex align-items-center mt-2">
        <h3>Button extra-large</h3>
        <div class="ms-2 cursor-pointer" data-action="toggle-display"
             data-target="#container-code-button-extra-large"></div>
    </div>

    <div data-code-target="#code-button-extra-large">
        <div class="row">
            <div class="col-12 group-button extra-large">

                <!-- Button-extra-large -->
                <button class="button-primary extra-large">Go to page 1</button>
                <button class="button-secondary extra-large">Go to page 2</button>
                <button class="button-success extra-large">Go to page 3</button>
                <button class="button-info extra-large">Go to page 4</button>
                <button class="button-warning extra-large">Go to page 5</button>
                <button class="button-danger extra-large">Go to page 6</button>
                <button class="button-neutral extra-large">Go to page 7</button>
                <button class="button-light extra-large">Go to page 8</button>
                <button class="button-dark extra-large">Go to page 9</button>
            </div>
        </div>
    </div>

    <div class="container-code mt-2 d-none" id="container-code-button-extra-large">
        <button class="button-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                data-target="#code-button-extra-large" data-tooltip="Copié !">Copier
        </button>
        <pre><code id="code-button-extra-large" data-type="code">
        </code></pre>
    </div>


</section>