<section id="button-section">
    <div class="container my-5">


        <h2 class="text-primary text-center">Button</h2>

        <!--
        Button outline
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Button outline</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display"
                 data-target="#container-code-button-outline"></div>
        </div>

        <div data-code-target="#code-button-outline">
            <div class="row">
                <div class="col-12 group-btn">

                    <!-- Button-outline -->
                    <button class="outline-primary">Go to page 1</button>
                    <button class="outline-secondary">Go to page 2</button>
                    <button class="outline-success">Go to page 3</button>
                    <button class="outline-info">Go to page 4</button>
                    <button class="outline-warning">Go to page 5</button>
                    <button class="outline-danger">Go to page 6</button>
                    <button class="outline-neutral">Go to page 7</button>
                    <button class="outline-light">Go to page 8</button>
                    <button class="outline-dark">Go to page 9</button>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-button-outline">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-button-outline" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-button-outline" data-type="code">
        </code></pre>
        </div>

        <!--
        Button round
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Button round</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-round"></div>
        </div>

        <div data-code-target="#code-round">
            <div class="row">
                <div class="col-12 group-btn">

                    <!-- round -->
                    <button class="btn-primary round">Go to page 1</button>
                    <button class="btn-secondary round">Go to page 2</button>
                    <button class="btn-success round">Go to page 3</button>
                    <button class="btn-info round">Go to page 4</button>
                    <button class="btn-warning round">Go to page 5</button>
                    <button class="btn-danger round">Go to page 6</button>
                    <button class="btn-neutral round">Go to page 7</button>
                    <button class="btn-light round">Go to page 8</button>
                    <button class="btn-dark round">Go to page 9</button>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-round">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-round" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-round" data-type="code">
        </code></pre>
        </div>


        <!--
        Button small
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Button sm</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-sm"></div>
        </div>

        <div data-code-target="#code-sm">
            <div class="row">
                <div class="col-12 group-btn sm">

                    <!-- small -->
                    <button class="btn-primary sm">Go to page 1</button>
                    <button class="btn-secondary sm">Go to page 2</button>
                    <button class="btn-success sm">Go to page 3</button>
                    <button class="btn-info sm">Go to page 4</button>
                    <button class="btn-warning sm">Go to page 5</button>
                    <button class="btn-danger sm">Go to page 6</button>
                    <button class="btn-neutral sm">Go to page 7</button>
                    <button class="btn-light sm">Go to page 8</button>
                    <button class="btn-dark sm">Go to page 9</button>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-sm">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-sm" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-sm" data-type="code">
        </code></pre>
        </div>

        <!--
        Button medium
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Button md</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-button-md"></div>
        </div>

        <div data-code-target="#code-button-md">
            <div class="row">
                <div class="col-12 group-btn md">

                    <!-- Button-medium -->
                    <button class="btn-primary md">Go to page 1</button>
                    <button class="btn-secondary md">Go to page 2</button>
                    <button class="btn-success md">Go to page 3</button>
                    <button class="btn-info md">Go to page 4</button>
                    <button class="btn-warning md">Go to page 5</button>
                    <button class="btn-danger md">Go to page 6</button>
                    <button class="btn-neutral md">Go to page 7</button>
                    <button class="btn-light md">Go to page 8</button>
                    <button class="btn-dark md">Go to page 9</button>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-button-md">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-button-md" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-button-md" data-type="code">
        </code></pre>
        </div>

        <!--
        Button large
        -->

        <div class="d-flex align-items-center mt-2">
            <h3>Button lg</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-button-lg"></div>
        </div>

        <div data-code-target="#code-button-lg">
            <div class="row">
                <div class="col-12 group-btn lg">

                    <!-- Button-large -->
                    <button class="btn-primary lg">Go to page 1</button>
                    <button class="btn-secondary lg">Go to page 2</button>
                    <button class="btn-success lg">Go to page 3</button>
                    <button class="btn-info lg">Go to page 4</button>
                    <button class="btn-warning lg">Go to page 5</button>
                    <button class="btn-danger lg">Go to page 6</button>
                    <button class="btn-neutral lg">Go to page 7</button>
                    <button class="btn-light lg">Go to page 8</button>
                    <button class="btn-dark lg">Go to page 9</button>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-button-lg">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-button-lg" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-button-lg" data-type="code">
        </code></pre>
        </div>

    </div>
</section>