<section id="card-section">
    <div class="container my-5">
        <h2 class="text-primary text-center">Cards</h2>


        <div class="d-flex align-items-center mt-2">
            <h3>Card</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-card"></div>
        </div>

        <div data-code-target="#code-card">
            <div class="container-card">
                <!--Card-->
                <div class="card" style="width: 25rem;">
                    <div class="card-header bg-primary text-contrast">
                        <h5>Card 1</h5>
                    </div>
                    <div class="card-body">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer bg-footer-muted text-contrast">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <!--Card-->
                <div class="card border-color-primary-force text-primary" style="width: 25rem;">
                    <div class="card-header">
                        <h5>Card 2</h5>
                    </div>
                    <div class="card-body">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <!--Card-->
                <div class="card bg-warning text-contrast" style="width: 25rem;">
                    <div class="card-header">
                        <h5>Card 3</h5>
                    </div>
                    <div class="card-body">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <!--Card-->
                <div class="card card-bordered border-color-danger-force" style="width: 25rem;">
                    <div class="card-header p-5">
                        <h5>Card 4</h5>
                    </div>
                    <div class="card-body border-color-danger-force">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <!--Card-->
                <div class="card box-shadow-card" style="width: 25rem;">
                    <div class="card-header">
                        <h5>Card 5</h5>
                    </div>
                    <div class="card-body">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-card">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-card" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-card" data-type="code">
        </code></pre>
        </div>


        <div class="d-flex align-items-center mt-2">
            <h3>Card responsive</h3>
            <div class="ms-2 cursor-pointer" data-action="toggle-display" data-target="#container-code-card-responsive"></div>
        </div>

        <div data-code-target="#code-card-responsive">
            <div class="container-card">
                <!--Card-->
                <div class="card flex-1-1-auto box-shadow-card" style="width: 25rem;">
                    <div class="card-header">
                        <h5>Card 1</h5>
                    </div>
                    <div class="card-body">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <!--Card-->
                <div class="card flex-1-1-auto box-shadow-card" style="width: 25rem;">
                    <div class="card-header bg-transparent">
                        <h5>Card 2</h5>
                    </div>
                    <div class="card-body">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <!--Card-->
                <div class="card flex-1-1-auto box-shadow-card" style="width: 25rem;">
                    <div class="card-header">
                        <h5>Card 3</h5>
                    </div>
                    <div class="card-body">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <!--Card-->
                <div class="card flex-1-1-auto box-shadow-card" style="width: 25rem;">
                    <div class="card-header">
                        <h5>Card 4</h5>
                    </div>
                    <div class="card-body border-color-danger">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <!--Card-->
                <div class="card flex-1-1-auto box-shadow-card" style="width: 25rem;">
                    <div class="card-header">
                        <h5>Card 5</h5>
                    </div>
                    <div class="card-body">
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-code mt-2 d-none" id="container-code-card-responsive">
            <button class="btn-primary position-top-right" type="button" data-position-tooltip="left" data-action="copy"
                    data-target="#code-card-responsive" data-tooltip="Copié !">Copier
            </button>
            <pre><code id="code-card-responsive" data-type="code">
        </code></pre>
        </div>

    </div>
</section>


